/* Configurações Globais */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px 0 20px;

}

/* Conteudo Header */

header {
    background-color: #ff914d;
    height: 5rem;

}

.cabecalho {
    text-align: justify
}

#espaco-nav>a {
    padding-right: 1rem;
    font-size: 1.2rem;
}

#espaco-nav>a:hover{
    color: rgba(255, 255, 255, 0.377);
}

a {
    text-decoration: none;
    color: white;
}

#logo>img {
    max-height: 5rem;
    margin-top: 0;
}

#nav-botao {
    margin-left: auto;
}

#header {
    display: flex;
    align-items: center;
}

#espaco-nav {
    margin: 0 auto;
}

#botao {
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: #4E42DB;
    border-color: #4E42DB;
    color: white;
}

#botao:hover{
    background-color: #2f2781;
    border-color: #2f2781;
}

/* Conteudo Main */

#conteudo-1 {
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    align-items: center;
    background-color: #EFF0E8;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
}

.imagens-main {
    width: 75%;
}

h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

p {
    color: #122418;
    line-height: 1.5rem;
    text-align: justify;
}

.botao-main {
    margin-top: 2rem;
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: #4E42DB;
    border-color: #4E42DB;
    color: white;
}

.botao-main:hover{
    background-color: #2f2781;
    border-color: #2f2781;
}

#conteudo-2 {
    margin-top: 1rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    
}

#texto-cartao {
    padding-left: 8rem;
}

#logo-main {
    width: 10rem;
    border-radius: 80%;
}

#conteudo-3 {
    text-align: center;
    padding-top: 2rem;
    background-color: #EFF0E8;
    border-top: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.356);

}

#conteudo-3>h1 {
    padding-top: 1rem;
}

#conteudo-4 {
    display: flex;
    text-align: center;
    background-color: #EFF0E8;
    margin-bottom: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.356);
}

article {
    padding: 1rem;
    width: 100%;
}

article>h2 {
    padding-bottom: 1rem;
}


/* Conteudo Footer */

footer {
    background-color: #ff914d;
    padding-top: 3rem;
    color: white;
    padding-bottom: 1rem;
}

#social-media {
    align-items: center;
    display: flex;
    padding-bottom: 1rem;
}

#social-media>h5 {
    padding-left: 1rem;
    width: 100%;
}

.redes-sociais {
    padding: 1rem;
}

#logo-footer {
    width: 5rem;
    border-right: solid 1px rgb(255, 255, 255);
    padding-right: 1rem;
}

#social-media>picture {
    display: flex;
    align-items: center;
}

picture>h1 {
    font-size: 1rem;
    margin-left: 1rem;
    padding-left: 1rem;
}

table {
    margin: 0 auto;
    padding: 1rem;
}

tr>th {
    padding-bottom: 1rem;
    padding-right: 1rem;
}

tr>td {
    padding-right: 1rem;
}

#copy>p {
    color: white;
}

#direitos-autorais {
    display: flex;
    align-items: center;
}

#aplicativos {
    margin-left: auto;
}

.img-social {
    width: 3rem;
}

.img_aplicativos {
    width: 10rem;
}